titulo{

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.paragrafos{

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

hr.teste{
    border: none;
    height: 25px;
    }

.mycards{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}    

#rodape {
    flex-shrink: none;
    background-color: #2D2D2D;
    height: 140px;
  }

  .rodape-conteudo{
      color: white;
     padding-top: 25px;
     font-size: 18px;
  }

  .imagem-rodape{
      padding-right: 20px;
  }
  
  
  h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }

  .subtilo{
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 20px;
  }

  





